<figure class="card">
  <div class="card__emoji">{{IMAGE}}{{IMAGE}}</div>
  <div class="card__title-box">
    <h2 class="card__title">{{PRODUCTNAME}}</h2>
  </div>
  <div class="card__details">
    <div class="card__detail-box {{NOT_ORIGANIC}}">
      <h6 class="card__detail card__detail--organic">Organic!</h6>
    </div>
    <div class="card__detail-box">
      <p class="card__detail">{{QUANTITY}} per 📦</p>
    </div>
    <div class="card__detail-box">
      <h6 class="card__detail card__detail--price">{{PRICE}} ¥</h6>
    </div>
  </div>
  <a href="/product?id={{ID}}" class="card__link"
    ><span>Detail </span><i class="emoji__right">👉</i></a
  >
</figure>
